{% extends "partials/_base.html" %}

{% block content %}
<div class="row">
    <h3>Gestão do Memorial</h3>
    <div class="row">
        <div class="col-sm-6">
            <div class="card m-1">
                <div class="card-body">
                    <h5 class="card-title">Peças do acervo</h5>
                    <p class="card-text">Listagem, cadastramento de peças, histórico dos eventos das peças (doações, manutenções, etc.), imagens, condições, etc.</p>
                    <a href="#" class="btn btn-primary">Administrar Peças</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card m-1">
                <div class="card-body">
                    <h5 class="card-title">Pessoas</h5>
                    <p class="card-text">Cadastro das pessoas envolvidas com o Memorial, podendo ser artistas, doradores ou equipe.</p>
                    <a href="#" class="btn btn-primary">Administrar Pessoas</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card m-1">
                <div class="card-body">
                    <h5 class="card-title">Exposições</h5>
                    <p class="card-text">Cadastro das exposições permanentes e exposições em que as peças do acervo da ACORDE participem</p>
                    <a href="#" class="btn btn-primary">Administrar Exposições</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card m-1">
                <div class="card-body">
                    <h5 class="card-title">Configurações</h5>
                    <p class="card-text">Eixos temáticos, espaços internos da ACORDE, controle de usuários e outras configurações do sistema</p>
                    <a href="#" class="btn btn-primary">Configurações</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}