{% extends "partials/_base.html" %}

{% block content %}
<div class="row">
    <div class="row">
        <div class="col">
            <h3 class="mb-4">Peças do Acervo</h3>
        </div>
    <div class="col text-end">
      <a href="#" class="btn btn-primary">Adicionar Peça ao Acervo</a>
    </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th>Denominação</th>
            <th>Autor</th>
            <th>Título (dado pelo autor)</th>
          </tr>
        </thead>
        <tbody>
          {% for p in pecas %}
            <tr>
              <td>{{ p.denominacao }}</td>
              <td>{% if p.autor %}{{ p.autor.nome }}{% else %}-{% endif %}</td>
              <td>{{ p.titulo_dado_pelo_autor }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="3" class="text-center">Nenhuma peça encontrada.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}
