{% extends "partials/_base.html" %}

{% block content %}
<div class="row">
    <div class="row mb-2">
        <div class="col-md-6">
            <h3 class="mb-4">Peças do Acervo</h3>
        </div>
        <div class="col-md-6 text-md-end">
          <a href="#" class="btn btn-primary">Adicionar Peça ao Acervo</a>
        </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th>Denominação</th>
            <th>Autores(as)</th>
            <th>Título dado pelo(s) autores(as)</th>
          </tr>
        </thead>
        <tbody>
          {% for peca in pecas %}
            <tr>
              <td>
                <a href="{% url 'editar_peca' peca.id %}">{{ peca.denominacao }}</a>
              </td>
              <td>{% if peca.autor %}{{ peca.autor.nome }}{% else %}-{% endif %}</td>
              <td>{{ peca.titulo_dado_pelo_autor }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="3" class="text-center">Nenhuma peça encontrada.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}
